<head>
<style>
    h1 {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 12px;
        text-align: center;
    }
    h2 {
        margin: auto;
        text-align: center;
    }
</style>
</head>

<body>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</body>
